* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* MENU */

header {
    height: 117px;
    background-color: #2E948A;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

header a {
    color: #fff;
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: space-between;
    padding-left: 82px;
}

.dindin {
    font-size: 30px;
}

.opcao-menu {
    display: flex;
    gap: 35px;
    font-size: 20px;
    list-style: none;
    align-items: end;
    padding-right: 103px;
}

.opcao-menu li a {
    color: white;
    text-decoration: none;
}

.opcao-menu li a:hover {
    transition: 400ms;
    color: #FF4081;
}

/* Main */
#contato {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#contato form {
    flex-grow: 0.5;
    margin-left: 136px;
    border-radius: 20px;
    padding: 66px 33px;
    display: flex;
    flex-direction: column;
}

#contato form h2 {
    color: #FF4081;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 67px;
}

#contato form input,
#contato form textarea {
    Width: 493px;
    border: 1px solid #686868;
    color: #58555d;
    border-radius: 7px;
    font-size: 16px;
    padding: 5px 22px;
    margin-bottom: 23px;
}

#contato form textarea {
    Width: 493px;
    Height: 193px;
    resize: none;
    padding-top: 10px;
    padding-bottom: 34px;
    margin-bottom: 16px;
}

#contato form input::placeholder,
#contato form textarea::placeholder {
    color: #58555d;
}

#contato form input:focus,
#contato form textarea:focus {
    outline: none;
    color: #58555d;
}

#contato form button {
    cursor: pointer;
    width: 165px;
    font-size: 16px;
    font-weight: 800;
    line-height: 22px;
    color: white;
    background: #FF4081;
    border-radius: 50px;
    border: none;
    padding: 12px;
}

#contato img {
    width: 444px;
    height: 444px;
    padding-top: 82px;
    margin-right: 201px;
}

/* RODA PÉ */

footer {
    background-color: #2E948A;
    color: #fff;
    height: 207px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 137px 0 128px;
}

.logo-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-footer-text {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.logo-footer-text h1 {
    font-weight: 500px;
    font-size: 66px;
    height: 66px;
}

.logo-footer-text p {
    height: 22px;
    font-weight: 300px;
    font-size: 22px;
}

.menu2 {
    margin-left: 183px;
}

.opcao-menu2 {
    list-style: none;
}

.opcao-menu2 a {
    text-decoration: none;
    color: #fff;
}

.opcao-menu2 li {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 400;
    line-height: 23px;
}

.opcao-menu2 li:hover {
    transition: 400ms;
    color: #FF4081;
}

.contato {
    margin-left: 320px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 400;
    gap: 13px;
}

.contato button {
    cursor: pointer;
    background-color: #2E948A;
    color: #fff;
    border: 2px solid;
    border-radius: 62px;
    font-size: 20px;
    font-weight: 400;
    width: 289px;
    height: 51px;
    line-height: 23px;
}

.contato button:hover {
    transition: 400ms;
    color: #FF4081;
}